<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Library Backbone.js</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">

	<div id="books">
		<form id="addBook" action="#">
			<label for="coverImage">CoverImage:</label><input id="coverImage" type="file" /></input>
			<label for="title">Title: </label><input id="title" type="text"/>
			<label for="author">Author: </label><input id="author" type="text"/>
			<label for="releaseDate">Release Date: </label><input id="releaseDate" type="text"/>
			<label for="keyword">Keywords: </label><input id="keyword" type="text"/>
			<button id="add">Add Book</button>
		</form>
	</div>

	<script type="text/template" id="bookTemplate">
		<img src="<%= coverImage %>" >
		<ul>
			<li><%= title %></li>
			<li><%= author %></li>
			<li><%= releaseDate %></li>
			<li><%= keywords %></li>
		</ul>
		<button class="delete">Delete</button>
	</script>

</div>

	<script src="js/lib/jquery-1.11.1.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage-min.js"></script>

	<script src="js/models/book.js"></script>
	<script src="js/collections/library.js"></script>

	<script src="js/views/book.js"></script>
	<script src="js/views/library.js"></script>

	<script src="js/app.js"></script>

</body>
</html>